body {
    background:lightgrey;
}

h1 {
    color:black;
    text-align:center;
}


.container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#play {
    height:30px;
    width:120px;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
}

.choice {
    display:inline-block;
    height:300px;
    width:300px;
    margin:5px;
    color:black;
    border:2px solid navy;
    text-align:center;
}

#choice_a {

}

#choice_b {
   
}

#choice_c {

}

footer {
    margin-top:5px;
    text-align:center;
    font-family:sans-serif;
}

footer span {
    color:navy;
    text-decoration:underline;
}

footer span:hover {
    cursor:pointer;
}